*{font-size:15px;padding:0;margin: 0}
.start{
  margin: 30px;
  float:left;
}
.start h1{
  font-size:18px;
}
.start>div{
  margin:20px 0
}
.start select,.start select option{
  font-size: 14px;
  padding: 2px;
}
.start button{
  background:white;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid black
}

.start .title{
  color:#1e90ff;
  font-weight: bold 
}
.start .look{
  width: 200px;
  display: block;
}
#canvas{
  display: flow-root;
  margin: auto;
  border: 1px solid black;
  width:420px
}
canvas{
  border: 1px solid white;
}